.login-page {
    width: 100%;
    min-height: 100vh;

    background-color: #8611ec;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding-top: 70px;
}


.logo{
font-size:28px;
font-weight:bold;
color:#8611ec;
}

.nav-links{
display:flex;
gap:35px;
}

.nav-links a{
text-decoration:none;
color:#222;
font-weight:600;
}

.nav-links a:hover{
color:#562f79;
}

.auth-buttons button{
padding:10px 22px;
margin-left:10px;
border-radius:8px;
cursor:pointer;
font-weight:bold;
}

.login-btn{
background:rgba(255, 255, 255, 0.169);
border:2px solid#562f79;
color:#562f79;
}

.register-btn{
background:#562f79;
border:none;
color:white;
}

.login-card{
width:430px;
background:rgba(255, 255, 255, 0.436);
margin:60px auto;
padding:40px;
border-radius:18px;
box-shadow:0 15px 40px rgba(0,0,0,.12);
}

.login-card h2{
text-align:center;
color:#562f79;
margin-bottom:10px;
}

.login-card p{
text-align:center;
color:#777;
margin-bottom:25px;
}

.input-box{
display:flex;
align-items:center;
border:1px solid #ddd;
padding:15px;
border-radius:10px;
margin-bottom:18px;
}

.input-box svg{
margin-right:10px;
color:#562f79;
}

.input-box input{
border:none;
outline:none;
width:100%;
font-size:20px;
background-color: transparent;

}

.forgot{
text-align:right;
margin-bottom:20px;
}

.forgot a{
color:#6c3ef4;
text-decoration:none;
}

.main-login{
width:100%;
padding:15px;
border:none;
background:#6c3ef4;
color:white;
font-size:18px;
border-radius:10px;
cursor:pointer;
}

.divider{
text-align:center;
margin:25px 0;
color:#888;
}




.bottom-text{
text-align:center;
margin-top:25px;
}

.bottom-text a{
color:#6c3ef4;
text-decoration:none;
font-weight:bold;
}