.home{
  margin-top: 0px;
  background-color: #c0a6db;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: linear-gradient(90deg, #8525eb, #9846e5, #ae3aed);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#logo {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}


.nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
}

.nav a:hover {
    color: #db68e1;
}
.nav button {
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn {
    background:rgb(154, 58, 210);
    color: #ffffff;
    
    border: 2px solid #c325eb;
}

.login-btn:hover {
    background: #2563eb;
    color: white;
}

.register-btn {
    background: #a925eb;
    color: rgb(0, 0, 0);
    border: none;
}

.register-btn:hover {
    background: #1d4ed8;
}

.hamburger{
    display:none;
    font-size:30px;
    color:rgb(255, 255, 255);
    cursor:pointer;
}

/* Mobile */
@media (max-width:768px){

    .navbar{
        position:relative;
        padding:15px 20px;
    }

    .hamburger{
        display:block;
    }

    .nav{
        display:none;
        position:absolute;
        top:70px;
        left:0;
        width:100%;
        background:#8525eb;
        flex-direction:column;
        align-items:center;
        gap:18px;
        padding:20px 0;
        z-index:1000;
    }

    .nav.active{
        display:flex;
    }

    .nav a{
        color:rgb(255, 255, 255);
        font-size:18px;
    }

    .nav button{
        width:180px;
    }
}